/tmp
/out-tsc
.DS_Store

/node_modules
/apps/api/node_modules
/apps/web/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

.vscode/*

/.idea
.idea/.gitignore
.idea

pnpm-lock.yaml

apps/api/lab.sqlite
apps/api/lab.sqlite-shm
apps/api/lab.sqlite-wal

.env